.banner-area {
  display: flex;
  width: calc(100dvw - 20px);
  width: 950px;
  background-color: white;
  justify-content: space-around;
}



@media print {
  .banner-area {
    display: none;
  }
}
